/*
* @Author: char1eschen
* @Date:   2018-07-19 01:56:58
* @Last Modified by:   char1eschen
* @Last Modified time: 2018-07-19 14:17:18
*/
.opera{
  margin-right: 5px;
}

.search-wrap{
  margin-bottom: 20px;
  .form-group{
    margin-right: 10px;
  }
}

.fas{
  margin-right: 5px;
}
